[Unit]
Description: krack-build - continuous build system for Arch for %I
Doucmentation=man:krack(1)
After=network.target

[Service]
Type=oneshot
User=%i
ExecStart=krack-build
