[Unit]
Description=Watches a specified dropbox for packages to add to a specified pacman repo

[Service]
ExecStart=/usr/lib/krack/receive
Restart=on-failure
RestartSec=5

# Hardening
PrivateNetwork=yes
IPAddressDeny=any
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectHostname=yes
ProtectClock=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
SystemCallArchitectures=native
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes

[Install]
WantedBy=default.target
