[Unit]
Description: krack-build - continuous build system for Arch for %I
Doucmentation=man:krack(1)
After=network.target

[Service]
User=%i
ExecStart=krack-build
Restart=on-failure

[Install]
WantedBy=multi-user.target
