[Unit]
Description=krack-build - continuous build system for Arch for %I
Documentation=man:krack(1)
After=network.target

[Service]
Type=simple
User=%i
Group=%i
ExecStart=krack-build
