[Unit]
Description: Timer for krack-build - continuous build system for Arch for %I
Doucmentation=man:krack(1)

# This timer will activate 2 minutes after boot. The timer will re-trigger 20
# hours AFTER krack-build finishes its build cycle.

[Timer]
OnBootSec=2m
OnUnitInactiveSec=20h
Unit=krack-build@.service

[Install]
WantedBy=timers.target
